@model Lab0.Models.PagingListAsync<Lab0.Models.Book>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Lista Książek</h1>
<p><a asp-action="Create">Dodaj nową</a></p>

<table class="table">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Wydawnictwo</th> 
        <th>Rok</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @await foreach (var item in Model.Data) {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@(item.PublisherEntity?.Name ?? "Brak")</td>
            <td>@item.YearOfPublishing</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav aria-label="Nawigacja po stronach">
    <ul class="pagination">
        @if (Model.IsPrevious)
        {
            <li class="page-item">
                <a class="page-link" 
                   asp-action="Index" 
                   asp-route-page="@(Model.Page - 1)" 
                   asp-route-size="@Model.Size">Poprzednia</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Poprzednia</span>
            </li>
        }

        <li class="page-item disabled">
            <span class="page-link">@Model.Page / @Model.TotalPages</span>
        </li>

        @if (Model.IsNext)
        {
            <li class="page-item">
                <a class="page-link" 
                   asp-action="Index" 
                   asp-route-page="@(Model.Page + 1)" 
                   asp-route-size="@Model.Size">Następna</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Następna</span>
            </li>
        }
    </ul>
</nav>