@model IEnumerable<Lab0.Models.Publisher>

@{
    ViewData["Title"] = "Lista Wydawców";
}

<h1>Lista Wydawców</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego wydawcę</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Rok założenia</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.EstablishedYear)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublisherId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.PublisherId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.PublisherId">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>